#!/bin/bash

# Check if MySQL container exists
mysql_container_id=$(docker ps -a --filter "name=zabbix-mysql" --format "{{'{{'}}.ID{{'}}'}}")

# If container exists, check if it is running
if [ -n "$mysql_container_id" ]; then
  mysql_running=$(docker inspect --format="{{'{{'}}.State.Running{{'}}'}}" zabbix-mysql)
  if [ "$mysql_running" == "true" ]; then
    echo "MySQL container is running."
    exit 0
  else
    echo "MySQL container is not running."
    exit 1
  fi
else
  echo "MySQL container does not exist."
  exit 1
fi
