#!/bin/bash

# Check if Zabbix Web container exists
container_id_web=$(docker ps -a --filter "name=zabbix-web-nginx-mysql" | grep web | awk '{print $1}')

# If container exists, remove it
if [ -n "$container_id_web" ]; then
  echo "Removing existing Zabbix Web container: $container_id_web"
  docker rm -f "$container_id_web"
else
  echo "No existing Zabbix Web container found."
fi