docker run -d --name zabbix-web \
  --link zabbix-server:zabbix-server \
  --link zabbix-mysql:mysql \
  -e ZBX_SERVER_HOST="zabbix-server" \
  -e DB_SERVER_HOST="mysql" \
  -e MYSQL_DATABASE="zabbix" \
  -e MYSQL_USER="zabbix" \
  -e MYSQL_PASSWORD="{{ mysql_zabbix_password }}" \
  -e MYSQL_ROOT_PASSWORD="{{ mysql_root_password }}" \
  -p 80:8080 \
  --restart unless-stopped \
  zabbix/zabbix-web-nginx-mysql:alpine-7.0-latest