# ======================== Elasticsearch Configuration =========================
cluster.name: "elastic"
node.name: "{{ ansible_hostname }}"
network.host: 0.0.0.0
http.port: 9200

# ======================== Discovery Settings ===================================
discovery.seed_hosts: ["127.0.0.1"]
cluster.initial_master_nodes: ["{{ ansible_hostname }}"]

# ======================== Filebeat Settings ====================================
path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch

# ======================== Nginx Logs Settings ==================================
xpack.monitoring.collection.enabled: true
xpack.security.enabled: false
