# ======================== Elasticsearch Configuration =========================
cluster.name: "elastic"
node.name: "{{ ansible_hostname }}"
network.host: 0.0.0.0
http.port: 9200

# ======================== Discovery Settings ===================================
# discovery.seed_hosts: ["127.0.0.1"]
cluster.initial_master_nodes: ["{{ ansible_hostname }}"]

# ======================== Filebeat Settings ====================================
path.data: /usr/share/elasticsearch/data
path.logs: /usr/share/elasticsearch/log

# ======================== Nginx Logs Settings ==================================
# Enable security features
xpack.monitoring.collection.enabled: true
xpack.security.enabled: false
xpack.security.enrollment.enabled: true

# Enable encryption for HTTP API client connections, such as Kibana, Logstash, and Agents
xpack.security.http.ssl:
  enabled: false
  keystore.path: certs/http.p12

xpack.security.transport.ssl.enabled: false
# Enable encryption and mutual authentication between cluster nodes
xpack.security.transport.ssl:
  enabled: false
  verification_mode: certificate
  keystore.path: certs/transport.p12
  truststore.path: certs/transport.p12
# Create a new cluster with the current node only
# Additional nodes can still join the cluster later