filebeat.inputs:
  - type: log
    id: nginx
    paths:
      - /var/lib/docker/containers/*/*.log
    processors:
      - decode_json_fields:
          fields: ["log"]
          target: ""
          overwrite_keys: true
      - add_host_metadata: ~
      - drop_fields:
          fields: ["host.architecture", "host.os", "host.containerized", "host.id", "host.ip", "host.mac", "host.os", "host.hostname"]
      - drop_event:
          when:
            not:
              and:
                - contains:
                    message: "log"
                - contains:
                    message: "HTTP"

output.elasticsearch:
  hosts: "https://elastic.internal-cloud:9200"
  username: "elastic"
  password: ""
  ssl.verification_mode: "none"
  timeout: 90s
  max_retries: -1
  backoff:
    init: 1s
    max: 60s
  keep_alive: 30s

setup.kibana:
  host: "http://kibana.internal-cloud:5601"

processors:
  - add_host_metadata: ~
  - add_docker_metadata: ~
  - add_cloud_metadata: ~

logging.level: info
logging.selectors: ["*"]