server.port: 5601
server.host: "0.0.0.0"
server.publicBaseUrl: "https://51.250.81.224:5601"
elasticsearch.hosts: ["http://elastic.internal-cloud:9200"]
monitoring.ui.container.elasticsearch.enabled: true
server.shutdownTimeout: "5s"
elasticsearch.ssl.verificationMode: "none"
elasticsearch.serviceAccountToken: ""